@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&display=swap");

body {
    background: url("../public/Start.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    background-attachment: fixed;
    margin: 0;
    font-family: "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.beach-list {
    display: flex;
    flex-direction: column;
}
.beach-grid {
    width: 82vw;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5em;
}
.beach-info-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.6em;
}
.beach-info-icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beach-button {
    width: 100%;
    text-align: center;
    padding: 1.3em 0em;
}

.card-divider {
    border: 1px solid #E5F3F1;
    height: 0px;
    width: 75%;
    opacity: 50%;
}

@media only screen and (max-width: 85em) {
    .beach-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 60em) {
    .beach-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 40em) {
    .beach-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.mapContainer {
    width: 100%;
    height: 100%;
}
